.purpleandpressed{
background: linear-gradient(85.09deg, #31294D -7.5%, #6C5BA7 146.08%);
opacity: 0.8;
border: 1.5px solid #2D2F34;
box-shadow: 10px 10px 20px #0D0E0F, -3px -3px 9px rgba(53, 59, 66, 0.4), inset 1px 1px 9px #2D2E35, inset 7px 7px 20px rgba(0, 0, 0, 0.75);
border-radius: 8px;
}