//POrtfolio single nav
.alx-portfolio-arrows {
  display: flex;
  align-items: center;
  padding: 60px 0;
  border-top: 1px solid #ccc;
  margin-top: 50px;

  &__prev, &__next, &__all {
    font-weight: 600;
    color: #8d8d93;
    text-decoration: none;
    transition: all ease 0.4s;

    &:hover {
      color: $text;
      text-decoration: none;
    }

    &:after, &:before {
      font-family: FontAwesome;
      font-size: 18px;
    }
  }

  &__prev {
    margin-right: auto;

    &:before {
      margin-right: 15px;
      content: "";
    }
  }

  &__next {
    margin-left: auto;

    &:after {
      margin-left: 15px;
      content: "";
    }
  }

  &__all {
    margin: auto;
    text-decoration: none !important;
    color: #8d8d93;

    &:after {
      content: "";
      font-family: FontAwesome;
      font-size: 28px;
      display: block;
    }
  }
}

.alx-portfolio-project-details {
  ul {
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

//POrtfolio slider
.alx-portfolio-slider {
  &__nav {
    margin-top: 10px;

    &--slide {
      padding: 10px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}

.alx-zoom {
  .zoomImg {
    widows: 100%;
  }
}

.alx-portfolio {
  //potfolio navigation
  &__nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
    background-color: rgba(#434441, 0.5);
    border-bottom: 2px solid rgba(#FFFFFF, 0.45);
    width: fit-content;

    // padding: 10px
    li {
      list-style: none;
      padding: 15px 20px;
      color: #fff;
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 15px;
      text-decoration: none !important;
      display: inline-flex;
      position: relative;
      transition: all ease 0.4s;
      cursor: pointer;
      text-transform: uppercase;

      &:after {
        content: "";
        width: 0;
        position: absolute;
        height: 1px;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: #ccc;
        transition: all ease 0.3s;
      }

      &:before {
        content: "";
        position: absolute;
        display: inline-flex;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: $accent;
        transition: width 0.3s;
      }

      &:hover {
        color: #ccc;

        &:after {
          width: calc(100% - 10px);
        }
      }
    }

    .alx-active {
      color: $accent;

      &:before {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        color: $accent;

        &:after {
          display: none;
        }
      }
    }
  }

  //portfolio styles

  &-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100% !important;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &-image {
      position: relative;
      display: block;
      width: 100%;
      padding-bottom: 80%;
      height: 100%;
      overflow: hidden;

      > div {
        width: 100%;
        height: 100%;
        position: absolute;
        padding-bottom: 80%;
        background-position: 50% 50%;
        background-size: cover;
        transition: all ease 0.6s;
        left: 0;
        right: 0;
        top: 0;
      }
    }

    &:hover {
      .alx-portfolio-item {
        &-image {
          > div {
            transform: scale(1.2);
          }
        }
      }
    }

    // 1 - Style
    &__style1 {
      .alx-portfolio-item {
        &-details {
          position: absolute;
          display: flex;
          align-items: flex-end;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#fff, 0.6);
          transition: all ease 0.5s;
          opacity: 0;
          overflow: hidden;

          h4 {
            font-size: 14px;
            background-color: $text;
            color: #fff;
            position: relative;
            line-height: initial;
            padding: 5px 10px 5px 10px;
            display: inline-flex;
            margin-left: 30px;
            margin-bottom: 30px;

            //Animation
            transform: translateY(250%);
            transition: all ease 0.7s;
          }

          p {
            display: none;
          }
        }
      }

      &:hover {
        .alx-portfolio-item {
          &-details {
            opacity: 1;

            h4 {
              transform: translateY(0);
            }
          }
        }
      }
    }

    // 2 - Style
    &__style2 {
      .alx-portfolio-item {
        &-details {
          background-color: #fff;
          width: 100%;
          padding: 23px 23px 23px 30px;

          h4 {
            font-size: 17px;
            line-height: 20px;
          }

          p {
            color: #7d7d85;
            margin-bottom: 0;
          }
        }

        &-image {
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(#fff, 0.6);
            opacity: 0;
            transition: all 0.5s;
          }

          &:before {
            content: "";
            font-family: FontAwesome;
            position: absolute;
            color: $text;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-size: 30px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: all ease 0.5s;
            z-index: 1;
          }
        }
      }

      &:hover {
        .alx-portfolio-item {
          &-image {
            &:after, &:before {
              // opacity: 1
           
            }
          }
        }
      }
    }
  }
}
