doctype html
html(lang="en" class="no-js")
	head
		include ../html/_head.pug
		title Gnusmas - Agency, Corporate, Studio Minamal Landing Page
		meta(name='description', content='')
	body
		.alx-scroll-wrap
			//Content STARTs
			include ../html/_header.pug
			#alx-pagepiling
    
				include ../sections/_1-section.pug
				include ../sections/_5-section.pug
				include ../sections/_2-section.pug
				include ../sections/_3-section.pug
				include ../sections/_4-section.pug
				
				include ../sections/_6-section.pug
				include ../sections/_8-section.pug
				include ../sections/_9-section.pug
				include ../sections/_7-section.pug
			include ../includes/_fixed-elements.pug
		//Content END
		include ../includes/_sidebar.pug
		
		include ../html/_footer.pug
		include ../html/_scripts.pug