//Animation content pp-section
@include media-breakpoint-up(md) {
  .pp-section {
    transition: all ease 1s;

    .container, .container-fluid {
      //amination
      opacity: 0;
      transform: translateY(30%) scale(0.8);
      transition: all 0.9s;
      transition-delay: 0.3s;
    }

    .alx-vertical-heading {
      opacity: 0;
      transition: all ease 1s;
      transition-delay: 0.4s;
    }

    &.active {
      .alx-vertical-heading {
        opacity: 1;
      }

      .container, .container-fluid {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }
}


/*mfp */
.mfp-fade {
  &.mfp-bg {
    opacity: 0;
    transition: all 0.15s ease-out;

    &.mfp-ready {
      opacity: 0.8;
    }

    &.mfp-removing {
      opacity: 0;
    }
  }

  &.mfp-wrap {
    .mfp-content {
      opacity: 0;
      transition: all 0.15s ease-out;
    }

    &.mfp-ready .mfp-content {
      opacity: 1;
    }

    &.mfp-removing .mfp-content {
      opacity: 0;
    }
  }
}

@keyframes rotate-360 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(400deg);
  }
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  width: 100%;
}

@keyframes hvr-ripple-out {
  width: 100%;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
}

.alx-icon__icon {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    border: #000 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    animation-duration: 1s;
    z-index: -1;
  }

  &:hover:after, &:focus:after, &:active:after {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }
}
